input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #808080;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: background-color 0.2s; }
  input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #5a5a5a;
    color: #fff; }
  input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #4d4d4d;
  border: 1px solid #333;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em;
  cursor: pointer; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #1a1a1a; }
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #808080;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(115, 115, 115, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .copy ul.list,
  .copy ol.list {
    list-style-type: disc;
    margin-bottom: 0.75em;
    padding-left: 1.5em; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #0d0d0d;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #333;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #062d5d;
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3 {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #808080;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #5a5a5a; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #333;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

@font-face {
  font-family: 'oceaniaregular';
  src: url("/font/oceania-regular_33403-webfont.eot");
  src: url("/font/oceania-regular_33403-webfont.eot?#iefix") format("embedded-opentype"), url("/font/oceania-regular_33403-webfont.woff2") format("woff2"), url("/font/oceania-regular_33403-webfont.woff") format("woff"), url("/font/oceania-regular_33403-webfont.ttf") format("truetype"), url("/font/oceania-regular_33403-webfont.svg#oceaniaregular") format("svg");
  font-weight: normal;
  font-style: normal; }
html {
  background: -webkit-linear-gradient( top , rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 50%, rgba(209, 211, 212, 0.5) 50%, rgba(209, 211, 212, 0.5));
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) 50%, rgba(209, 211, 212, 0.5) 50%, rgba(209, 211, 212, 0.5));
  background-size: 100% 54px; }

@media screen and (min-width: 58.75em) {
  .container {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .container::after {
      clear: both;
      content: "";
      display: table; } }

.centered-navigation {
  color: #062d5d;
  font-family: oceaniaregular, sans-serif;
  text-transform: uppercase;
  min-height: 60px;
  width: 100%;
  z-index: 9999;
  letter-spacing: .1em; }
  .centered-navigation .mobile-logo {
    display: inline;
    float: left;
    max-height: 60px;
    padding-left: 1em; }
    .centered-navigation .mobile-logo img {
      max-height: 60px;
      opacity: .6;
      padding: .8em 0; }
    @media screen and (min-width: 58.75em) {
      .centered-navigation .mobile-logo {
        display: none; } }
  .centered-navigation .centered-navigation-mobile-menu {
    color: rgba(6, 45, 93, 0.7);
    display: block;
    float: right;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-decoration: none;
    text-transform: uppercase; }
    @media screen and (min-width: 58.75em) {
      .centered-navigation .centered-navigation-mobile-menu {
        display: none; } }
    .centered-navigation .centered-navigation-mobile-menu:hover {
      color: #062d5d; }
  .centered-navigation .centered-navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 999; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
    .centered-navigation .centered-navigation-wrapper::after {
      clear: both;
      content: "";
      display: table; }
  .centered-navigation .centered-navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999; }
    .centered-navigation .centered-navigation-menu.show {
      display: block; }
    @media screen and (min-width: 58.75em) {
      .centered-navigation .centered-navigation-menu {
        display: block;
        text-align: center; } }
  @media screen and (min-width: 58.75em) {
    .centered-navigation .nav-link:first-child {
      margin-left: 2.2em; } }
  .centered-navigation .nav-link {
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 1em;
    text-align: right;
    width: 100%;
    z-index: 9999; }
    .centered-navigation .nav-link a {
      color: rgba(6, 45, 93, 0.7);
      display: inline-block;
      text-decoration: none; }
      .centered-navigation .nav-link a:hover {
        color: #062d5d; }
    @media screen and (min-width: 58.75em) {
      .centered-navigation .nav-link {
        background: transparent;
        display: inline;
        line-height: 60px; }
        .centered-navigation .nav-link a {
          padding-right: 1em; } }
  .centered-navigation .nav-separator {
    display: none; }
    @media screen and (min-width: 58.75em) {
      .centered-navigation .nav-separator {
        display: inline; } }
  .centered-navigation .logo.nav-link {
    display: none;
    line-height: 0; }
    @media screen and (min-width: 58.75em) {
      .centered-navigation .logo.nav-link {
        display: inline; } }
  .centered-navigation .logo img {
    margin-bottom: -2.5em; }

.content {
  background-color: #fff;
  padding: 1.7284%;
  border: 1px solid #062d5d;
  margin-bottom: 1.5625em;
  text-align: center; }
  @media screen and (min-width: 58.75em) {
    .content {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 82.94039%;
      margin-left: 8.5298%;
      margin-right: 0;
      text-align: left; }
      .content:last-child {
        margin-right: 0; } }

@media screen and (min-width: 58.75em) {
  .photos {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 38.29445%; }
    .photos:last-child {
      margin-right: 0; } }
.photos img {
  border: 1px solid #333;
  margin-bottom: 0.625em; }

@media screen and (min-width: 58.75em) {
  .copy {
    float: left;
    display: block;
    margin-right: 2.84259%;
    width: 58.86297%;
    margin-right: 0; }
    .copy:last-child {
      margin-right: 0; }
    .copy.full-width {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 100%; }
      .copy.full-width:last-child {
        margin-right: 0; } }
.home .copy {
  padding-top: 9.6%; }
.copy .page-title {
  font-family: oceaniaregular, sans-serif;
  font-size: 2.7em;
  text-transform: uppercase; }
.copy h2 {
  font-weight: normal;
  text-transform: lowercase; }

.essentials {
  display: block;
  margin: 0 auto 0.625em; }

.copyright {
  text-align: center;
  opacity: 0.7;
  color: #333;
  font-size: 0.5625em; }
  @media screen and (min-width: 58.75em) {
    .copyright {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%;
      margin-right: 0; }
      .copyright:last-child {
        margin-right: 0; } }

.rsvp-form {
  text-align: left; }
  .rsvp-form .required-asterisk {
    color: #c43b1d; }
  @media screen and (min-width: 58.75em) {
    .rsvp-form .horiz {
      float: left;
      display: block;
      margin-right: 2.84259%;
      width: 48.57871%; }
      .rsvp-form .horiz:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 58.75em) {
    .rsvp-form li:nth-child(even) {
      margin-right: 0; } }
  .rsvp-form .submit {
    text-align: center; }
    @media screen and (min-width: 58.75em) {
      .rsvp-form .submit {
        float: left;
        display: block;
        margin-right: 2.84259%;
        width: 100%;
        margin-right: 0; }
        .rsvp-form .submit:last-child {
          margin-right: 0; } }
