.rsvp-form {
    text-align: left;

    .required-asterisk {
        color: $red;
    }

    .text-horiz {
        @include media($large-screen) {
            @include span-columns(5 of 10);
        }
    }

    .last {
        @include media($large-screen) {
            @include omega;
        }
    }

    .error-message {
        display: none;
    }
}
