.rsvp-form {
    text-align: left;

    .required-asterisk {
        color: $red;
    }

    .horiz {
        @include media($large-screen) {
            @include span-columns(5 of 10);
        }
    }

    li:nth-child(even) {
        @include media($large-screen) {
            @include omega;
        }
    }

    .submit {
        text-align: center;

        @include media($large-screen) {
            @include span-columns(10 of 10);
            @include omega;
        }
    }
}
